@keyframes moveToLeft {
  0% {
    transform: translateX(12rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-12rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



